@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700");

* {
  margin: 0;
  padding: 0;
  list-style: none;
  vertical-align: baseline;
}

div {
  position: relative;
  z-index: 3;
}

body {
  background-color: #445;
  color: #678;
  font-family: "Open Sans", sans-serif;
  font-weight: 450;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  min-height: 100vh; /* Ensure it takes full viewport height */
  width: 100%; /* Occupy full width */
  max-width: 960px; /* Set a maximum width for larger screens */
  margin: 0 auto; /* Center the wrapper horizontally */
  padding: 20px;
}

.footer {
  width: 450px;
  text-align: center;
  display: block;
  margin: 15px auto 30px auto;
  font-size: 0.9em;
  color: #fff;
}

.footer a {
  font-weight: 560;
  text-decoration: none;
  color: #fff;
}

.quote-box__container {
  position: relative;
  width: 450px;
  height: 450px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 10%;
  box-shadow: 0 0 50px 10px rgba(0, 0, 0, 0.5);
}

.quote-box__quote-text {
  text-align: center;
  width: 100%; /* Changed to 100% for better responsiveness */
  font-weight: 600;
  font-size: 1.6em;
  margin-top: 10px;
}

.quote-box__quote-text i {
  font-size: 1.1em;
  margin-right: 0.4em;
}

.quote-box__quote-author {
  width: 100%; /* Changed to 100% for better responsiveness */
  padding-top: 20px;
  font-size: 1.1em;
  text-align: right; /* Changed to right align */
}

.quote-box__buttons {
  width: 100%;
  margin: 20px 0 0 0;
  display: flex; /* Use flexbox for button layout */
  justify-content: space-between; /* Distribute buttons evenly */
}

.quote-box__buttons__button {
  height: 38px;
  border: none;
  border-radius: 5px;
  color: #fff;
  background-color: #353;
  outline: none;
  font-size: 0.9em;
  padding: 8px 0px;
  cursor: pointer;
  flex: 1; /* Allow buttons to expand equally */
  margin: 0 5px; /* Add some spacing between buttons */
  text-align: center;
  text-decoration: none; /* remove underline from <a> tag */
  display: flex;
  justify-content: center;
  align-items: center;
}

.quote-box__buttons__button:hover {
  opacity: 0.8;
}

.quote-box__buttons__button#tweet-quote i,
.quote-box__buttons__button#tumblr-quote i {
  font-size: 1.3em;
}

.quote-box__buttons__button#new-quote {
  font-size: 1.3em;
  padding: 27px 0 27px 0;
}
